---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import PDFViewer from '../components/PDFViewer.astro';
---

<Layout title="Wil Bishop | AI & ML Engineer">
    <Navbar />
    <main>
        <Hero />
        <About />
        <Projects />
        <PDFViewer />
    </main>
</Layout>

<style>
    main {
        overflow-x: hidden;
    }
</style>
